---
---

@import "{{ site.theme }}";

header {
	background-image: url('{{ site.baseurl }}/images/header/2021_jp_extract.png');
	background-repeat: no-repeat;
	background-position: right 10% bottom 0%;
	/*max-width: 100%;
	max-height: 100%;*/
	background-size: contain;
	height: 70%;
	width: 70%;
}

/*
.headerPage {
	background-image: url('{{ site.baseurl }}/images/yama/ibuki/20211228/IMG_1568.jpeg');
	background-size: 100% 100%;
}
*/



