<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- HEADER -->
    <div id="header_pages" class="outer">
        
        <header class="inner_top background_img2">
          
          <!-- {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %} -->

          <h1 id="project_title">{{ page.title | default: site.title }}</h1>
          
          {% if page.description %}
            <h2 id="project_tagline">{{ page.description | default: site.description }}</h2>
          {% endif %}
         
          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>
    
    <script src="https://wzetto.github.io/wz369.github.io/js/header/header_scroll2.js"></script>
    
    <!-- MAIN CONTENT -->
    
    <div id="main_content_wrap" class="outer">
      <script src="//code.highcharts.com/highcharts.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script><br>
      <hr style="width:200px;text-align:center"><br>
      <div id='map'></div>
      <p style='text-align:center'>Touch icons for details.</p>
      <script src="{{ page.js_url }}"></script>
      <section id="main_content" class="inner">
        
        {{ content }}<br>
        <br>
        <hr style="width:200px;text-align:center">
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner_bottom">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
        <p id='bottom_text'>天国から地獄.</p>
        <script type='text/javascript' src='https://wzetto.github.io/wz369.github.io/js/bottom/bottom_text.js'></script>
      </footer>
    </div>
  </body>
</html>
